[Unit]
Description = http server for greg-adventure
Requires = docker.service
After = docker.service

[Service]
User = root
Group = root

Restart = always
StandardInput = null
StandardOutput = journal
StandardError = journal

ExecStart = /usr/bin/docker run --rm -t \
	-p 8080:8080/tcp \
	--name greg_server \
	greg
ExecStop = /usr/bin/docker container rm greg_server -f

[Install]
WantedBy = local.target
